h2 {
    color: #2b1719;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: auto;
    margin-left: 30%;
  }
  
  
  
  .message {
    
    color: #fc4630;
    display: block;
    font-weight: 800;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2 {
    font-family: tahoma;
  }
  
  .message {
    @media (max-width: 1390px){
        display: none;
    }
    color: #fc4630;
    display: block;
    font-weight: 8000;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1,
  .word2{
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 100%; 
    }
    5% {
        width: 100%; 
    }
    15% {
        width: 100%; 
    }
    30% {
      top: 0.2rem;
      width: 100%; 
    }
    33% {
      top: 0.2rem;
      width: 100%; 
    }
    35% {
      top: 0.2rem;
      width: 100%; 
    }
    38% {
      top: -4.5rem;
      width: 100%; 
    }
    48% {
      top: -4.5rem;
      width: 100%;  
    }
    62% {
      top: -4.5rem;
      width: 100%; 
    }
    66% {
      top: -4.5rem;
      width: 100%; 
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 100%; 
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 100%; 
    }
   
  }
  